####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
/electrum.py
contrib/pyinstaller/
Electron_Cash_SLP.egg-info/
locale/
.devlocaltmp/
*_trial_temp
packages
env/
.tox/
.buildozer/
bin/
/app.fil
tmp/
lib/*.so.0

# tox files
.cache/
.coverage

# MacOSX
.DS_Store/
.DS_Store
icons/.DS_Store/
xcuserdata/

# IntelliJ Pycharm IDE
/.idea

# osx build files
libsecp256k1.0.dylib
libusb-1.0.dylib