# If you want Electron Cash to appear in a linux app launcher ("start menu"),
# install this file by doing:
# sudo desktop-file-install electron-cash.desktop

[Desktop Entry]
Comment=Lightweight DeVault Client
Exec=delight %u
GenericName=DeLight - DeVault Wallet
Icon=delight
Name=DeLight
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=DeLight
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoincash;
Actions=Testnet;

[Desktop Action Testnet]
Exec=electron-cash --testnet %u
Name=Testnet mode
